




.header-div{
    width: 1173px;
    height: 56px;
    display: flex;
justify-content: space-around;
    
}
.menu-bar{
    width: 447px;
    height: 41px;
    flex-direction: row;
    padding: 10px;
    text-align: center;

}

.menu-bar a {
 color: red;
text-decoration: none;
padding: 10px;
justify-content: center;
align-items: center;
}

.bus{
    display: flex;
    width: 130px;
    height: 56px;
    border: 1px solid rgb(24, 236, 24);
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(114, 137, 114);
}







.banner-div{
    width: 1171px;
    height: 550px;
    background-image: url(images/banner.png);
  padding: 30px;
}


.endto-end{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.run-unit{
    color: white;
    text-align: center;
}

.buy-tickets{
background-color: rgb(16, 216, 16);
color: black;
font-size: 1rem;
font-weight: 700;
margin-left: 500px;
padding: 10px;
border: none;
border-radius: 8px;

}

.bus-text{
    color: rgb(16, 216, 16);
}

.paribahan{
    color: rgb(16, 216, 16);
    text-align: center;
    font-size: 3rem;
    
}




.footer-div{
    width:1440px ;
    height:357px ;
    background-color: black;
    display: flex;

}
.footer-left{
    color:rgb(47, 214, 35);
    width: 374px;
    height: 118px;
}
.footer-right{
    color: rgb(47, 214, 35);
    width: 374px;
    height: 118px;

}
.play-store{
    display: flex;
    height: 56px;
    width: 189px;
}

hr{
    height: auto;
    width: 2px;
    color: rgb(47, 214, 35);
}
